* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}

.hero {
  position: relative;
  z-index: -1;
  min-height: 100vh;
  background-image: url('./media/herobg.png');
  background-size: cover;
  animation: moveBackground 10s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 75% 45%;
  }
  75% {
    background-position: 45% 75%;
  }
  100% {
    background-position: 0 0;
  }
}

a {
  text-decoration: none !important;
}

main {
  margin-top: 2rem;
}
