* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}

.hero {
  position: relative;
  min-height: 100vh;
  background-image: url('./media/herobg.png');
  background-size: cover;
  animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 75% 45%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 45% 75%;
  }

  100% {
    background-position: 0 0;
  }
}

a {
  text-decoration: none !important;
}

main {
  margin-top: 2rem;
}

.slick-arrow {
  display: none !important;
}

.about-me {
  background-image: url('./media/color-ball.png');
  background-size: cover;
  animation: moveBackground 20s infinite .5s;
}